# CMake
build/
build-*/
cmake-build-*/
data/*
!data/lesson07_simulation_events_adapted.txt

# C/C++ build artifacts
*.o
*.obj
*.out

# Executables
event_backtester

# Python - pentru etapa ML
__pycache__/
*.pyc
.venv/

# OS junk
.DS_Store
