# General backtest configuration
max_time = 359
strategy_owner_id = 1
fee_ticks = 0.05

# Fixed latency sources, measured in backtest ticks
market_communication_latency_ticks = 0
prediction_generation_latency_ticks = 0
prediction_transfer_latency_ticks = 0
